/************************** IMPORT VARIABLES **************************/
@use "variables" as *;







/************************** CARD1 - Reviews **************************/
.card1 {
    margin: 1rem $gutter;
    @include img-shadow-1;
    @include end-fadein;

    background-color: $color-grey-05;
    border: 1px solid $color-grey-20;
    padding: 60px 1rem 1rem 1rem;
    border-radius: 10px;
    
    background-image: url(/photos/review.png);
    background-repeat: no-repeat;
    background-position: center 20px;
    p {
        color: $color-grey-80;
        font-style: italic;
    }
}



/************************** CARD2 - Staff **************************/
.card2 {
    margin: 1rem $gutter;
    @include img-shadow-1;
    @include end-fadein;

    background-color: $color-grey-05;
    border: 1px solid $color-grey-20;
    border-radius: 10px;
    overflow: hidden;
    img {
        display: block;
        width: 100%;
        height: auto;
    }

    h3 {
        font-size: 1.5rem;
        margin: 0;
        padding: .5rem $gutter 0;
        color: $color-primary;
    }

    p {
        font-weight: $font-weight-normal;
        color: $color-grey-50;
        letter-spacing: .1rem;
        text-transform: uppercase;
        font-size: .8rem;
        margin: 0;
        padding: .5rem $gutter;
        line-height: 130%;
    }
}

/************************** CARD3 - Doctor **************************/
.card3 {
    margin: 1rem $gutter;
    @include img-shadow-1;
    @include end-fadein;

    background-color: $color-grey-05;
    border: 1px solid $color-grey-20;
    border-radius: 10px;
    overflow: hidden;

    img {
        display: block;
        width: 100%;
        height: auto;
    }
    aside {
        margin: 1rem $gutter;
    }
    p {
        color: $color-grey-60;
    }
}








/************************** FADEIN INTERSECTION OBSERVER **************************/
// must come at the end of the stylesheet
.fadein {
    opacity: .1;
    transform: translateY(10px);
}