/************************** IMPORT VARIABLES **************************/
@use "variables" as *;
// MEDIA QUERY STARTS HERE
@media only screen and (min-width: $break-point-md) {

    /************************** GRID LAYOUT **************************/
    .grid-2 {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .grid-3 {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    /************************** PHOTOS **************************/
    img.wrapped {
        width: 40%;
    }

    /************************** F A Q **************************/
    details.faq section {
        display: grid;
        grid-template-columns: 1fr 2fr;
        column-gap: $gutter;
        img {margin-top: 16px;}
    }
}