/************************** IMPORT VARIABLES **************************/
@use "variables" as *;

// MEDIA QUERY STARTS HERE
@media only screen and (min-width: $break-point-lg) {

  header,
  main,
  footer {
    margin: 0 auto;
    max-width: 1296px;
  }

  /************************** GRID LAYOUT **************************/
  .grid-3 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  /************************** CARD3 - Doctor **************************/
  .card3 {
    display: grid;
    column-gap: 40px;
    grid-template-columns: 1fr 1fr;
    padding: 0 40px;

    img {
      margin: 2rem $gutter;
      border-radius: 4px;
    }
  }

  /************************** PHOTOS **************************/
  img.wrapped {
    width: 30%;
  }
}