/************************** IMPORT VARIABLES **************************/
@use "variables" as *;

/************************** BORDER BOX **************************/
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/************************** BODY **************************/
body {
  font-family: $font-family;
  font-weight: $font-weight-normal;
  @include reset;
}

img.hero {
  display: block;
  width: calc(100% - ($gutter * 2));
  height: auto;
  margin: $gutter;
  @include img-shadow-1;

  border-radius: 10px;
}


/************************** HEADER **************************/
header {
  padding: .5rem $gutter;
  display: grid;
  grid-template-columns: 180px auto;
  column-gap: 8px;
  align-items: end;
  border-bottom: 1px solid $color-grey-10;
  box-shadow: 0 0 10px $color-grey-10;
}





/************************** MAIN **************************/
main {
  >h1 {
    @include fixheads;
    font-size: 2rem;
    color: $color-primary;
    margin: 1rem $gutter 0 $gutter;
  }

  >h2 {
    @include fixheads;
    font-size: 1.6rem;
    color: $color-secondary;
    font-weight: $font-weight-normal;
    margin: .75rem $gutter 0 $gutter;
  }

  >h3 {
    @include fixheads;
    font-size: 1.3rem;
    font-weight: $font-weight-heavy;
    color: $color-grey-50;
    margin: .5rem $gutter 0 $gutter;
  }
  >h4 {
    font-size: 1.2rem;
    color: #fff;
    background: linear-gradient(#07959f, #064661);
    padding: 1rem;
    text-align: center;
    border-radius: 10px;
    margin: 1rem $gutter .3rem $gutter;
    font-weight: 500;
    @include img-shadow-1;
  }
  >h5 {
    font-size: 1.2rem;
    font-weight: $font-weight-thin;
    color: $color-grey-60;
    margin: .3rem $gutter;
    b {
      font-weight: $font-weight-normal;
    }
  }
  >p {
    @include fixheads;
    font-size: 1rem;
    color: $color-grey-80;
    margin: .1rem $gutter ;
    line-height: 150%;
  }

  a {
    color: $color-secondary;
    font-weight: $font-weight-normal;
  }

  >ul li {
    line-height: 150%;
    color: $color-grey-80;
  }

  >ol li {
    padding: .5rem;
    line-height: 130%;
    color: $color-grey-80;

    b {
      font-weight: $font-weight-heavy;
      color: $color-secondary
    }
  }

  .checklist li {
    list-style-image: url(../photos/check.png);
    line-height: 200%;
    color: $color-primary;
    font-size: 1.1em;
  }

  .download {
    display: block;
    color: white;
    padding: 1rem $gutter;
    margin: 1rem $gutter;
    border: 1px solid $color-grey-40;
    border-radius: 10px;
    background-color: $color-secondary;
    background-image: url(../photos/download.svg);
    background-repeat: no-repeat;
    background-position: right 20px center;
    background-size: 20px;
    transition: background-color .5s ease;

    &:hover {
      background-color: $color-primary;
    }
  }
}

/************************** PHOTOS **************************/
img.wrapped {
  display: block;
  float: right;
  margin: 10px $gutter;
  width: 50%;
  border-radius: 10px;
  border: 1px solid $color-grey-50;
  @include img-shadow-1;
}

img.smile {
  display: block;
  width: calc(100% - ($gutter * 2));
  height: auto;
  margin: 1rem $gutter;
  border-radius: 10px;
}

/************************** F A Q **************************/
details.faq {
  background-color: #f2f2f2;
  border: 1px solid #e5e5e5;
  border-radius: 10px;
  padding: .5em .5em 0;
  margin: 1rem $gutter;
  @include img-shadow-1;
  line-height: 140%;
  color: $color-grey-60;
  summary {
    font-weight: bold;
    font-weight: $font-weight-heavy;
    color: $color-primary;
    padding: .5em;
  }
  img {
    width: 100%;
    height: auto;
    border: 1px solid #ddd;
    border-radius: 8px;
  }
  b {
    font-weight: $font-weight-normal;
    color: $color-secondary;
  }
}





/************************** FOOTER **************************/
footer .top {
  background-color: $color-grey-90;
  color: $color-grey-10;
  padding: 0 $gutter 1rem $gutter;

  h3 {
    @include reset;
    display: block;
    font-size: .8rem;
    color: $color-grey-50;
    text-transform: uppercase;
    font-weight: $font-weight-heavy;
    padding-top: 1.5rem;
    padding-bottom: .1rem;
  }

  .social {
    @include reset;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: $gutter;

    a {
      display: block;
      width: 44px;
      height: 44px;
      border: 2px solid $color-grey-10;
      border-radius: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: $color-grey-40;
      transition: background-color 0.3s ease-in-out;

      &:hover {
        background-color: $color-secondary;
      }
    }
  }

  p,
  address,
  a {
    @include reset;
    color: $color-grey-10;
    font-style: normal;
    line-height: 125%;
  }

  a:hover {
    color: $color-secondary;
  }
}

footer .bot {
  padding: 1rem $gutter;
  background-color: $color-grey-20;
  color: $color-grey-80;
  text-align: center;
  font-size: .8rem;

  a {
    color: $color-grey-90;
  }
}